body.landing-page {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgb(43, 43, 43)
    ),
    url("../assets/images/hackersfilter.png");
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 100vh;
  margin: 0;
  padding: 0; */
}

.navbar {
  position: "fixed";
  top: 0;
  left: 0;
  width: "100%";
}

@font-face {
  font-family: "FatFace";
  src: url("../assets/fonts/AbrilFatface-Regular.ttf");
}

.FatFace {
  font-family: "FatFace";
}
