.custom-modal .modal-content {
  background-color: #1e6ebe;
}
// @import "bootstrap/scss/bootstrap.scss";

.custom-modal .modal-dialog {
  position: fixed;
  top: 25%;
  left: 37%;
  transform: translate(-50%, -50%);
}
